section.about
    .container
        .about__wrapper
            .about__image-wrapper.wow.animate__animated.animate__fadeInLeft(data-wow-offset="300")
                img.about__image(src=`${root}/images/about-letters.png`)
            .about__content 
                .section-title.about-section--title О нас
                    span.section-fade.about__section-fade.wow.animate__animated.animate__fadeInSectionFade(data-wow-delay="0.5s", data-wow-offset="300") О нас
                .about__content-text 
                    p.about__content-paragraph Мы дарим Мечту — обучаем искусству Танца с нуля на профессиональном уровне!
                    p.about__content-paragraph Ваш возраст, вес, пол и уровень подготовки не имеют значения, важно лишь то, что Мечты должны сбываться!
                    p.about__content-paragraph 
                        | Опытный, внимательный, влюблённый в своё дело преподаватель студии, оценивая и понимая возможности и природные данные каждого из Вас, поможет максимально эффективно, а что самое главное — без срывов и травм, освоить все тонкости балетного мастерства.
                .about__content-contacts 
                    a.about__content-btn.btn Записаться на урок
                    a.about__content-phone.phone(href="tel:1235523") Позвонить
        .about__wrapper
            .about__image-wrapper.wow.animate__animated.animate__fadeInRight(data-wow-offset="300")
                img.about__image(src=`${root}/images/about-image1.jpg`)
            .about__content.wow.animate__animated.animate__fadeInLeft(data-wow-offset="300")
                .about__content-text 
                    p.about__content-paragraph Результат не заставит себя долго ждать — всего через пару недель Ваша спина станет намного прямее, походка грациознее, через месяц Ваше тело станет гибким и послушным, значительно улучшится координация и кровообращение, станет совершеннее вестибулярный аппарат.
                    p.about__content-paragraph Ваша жизнь качественно изменится! Уйдут стрессы, нервозность и лишние килограммы!
                    p.about__content-paragraph Подтянутая фигура, здоровая спина, горделивая осанка и общий внутренний тонус — вот награда за часы, проведённые в балетном классе!
        .about__wrapper
            .about__image-wrapper.wow.animate__animated.animate__fadeInRight(data-wow-offset="300")
                img.about__image(src=`${root}/images/about-image2.jpg`)
            .about__content.wow.animate__animated.animate__fadeInLeft(data-wow-offset="300")
                .about__content-text 
                    p.about__content-paragraph 7 лет работы, десятки благодарных учениц, масса положительных переживаний и эмоций от возможности воплотить мечту в реальность!
                    p.about__content-paragraph Многие обещают — Мы Отвечаем за Результат!
                    p.about__content-paragraph Девиз нашей студии: "Хватит мечтать! Приходи Танцевать!"
                .about__content-contacts 
                    a.about__content-btn.btn Записаться на урок
                    a.about__content-phone.phone(href="tel:1235523") Позвонить
