footer.footer 
    .container 
        .footer__wrapper 
            .footer__subscribe
                .footer__subscribe-title Подпишитесь на нашу рассылку
                form.footer__form
                    .footer__form-inner 
                        input.footer__form-input(placeholder="E-mail")
                        input.footer__form-btn.btn(type="submit", value="Подписаться")
            .footer__address-wrapper 
                a.footer__address(href="https://goo.gl/maps/uzrr2MQBhWRaRgML7", target="_blank") Москва, Волгоградский проспект д. 32. Около станции метро "Волгоградский проспект"
            .footer__phone-wrapper 
                a.footer__phone(href="tel:79264344788") +7 (926) 434-47-88
            img.footer__image(src=`${root}/images/footer-ballerina.png`, alt="") 
        .footer__copy 
            .footer__copy-copy &copy; 2015–2022
            .footer__copy-name 
                a.footer__name-link(href="index.html") classique 
            .footer__copy-developed Developed by
                a.footer__copy-developer(href="https://vk.com/kubarenation_forever", target="_blank") Nikita Kubarko 