-
    const slides = [
        {
            textHightlight: 'Занятие, построенное на базе методики А.Вагановой',
            text: 'и соответствующее программе балетного училища, но адаптированное под взрослых учеников. Включает в себя упражнения у станка, на середине, адажио и прыжки.',
            price: '53',
            img: 'classes1.jpg',
            type: 'Балетный класс',
        },
        {
            textHightlight: 'Академический театральный танец',
            text: '— это не те танцы, которые Вы можете увидеть на массовых праздниках в городе. Академический театральный танец — это порой сложнее и более эффектно, чем классический балет!',
            price: '35',
            img: 'classes2.jpg',
            type: 'Театральный танец',
        },
        {
            textHightlight: 'Современный танец (модерн)',
            text: ' — это относительно новое направление в танцевальном искусстве, зародившееся в конце прошлого века. И за столь короткое время модерн стал невероятно популярным танцевальным стилем.',
            price: '45',
            img: 'classes3.jpg',
            type: 'Современный танец',
        },
        {
            textHightlight: 'Занятия направлены на увеличение гибкости,',
            text: ' подвижности суставов, связок для достижения шпагатов, прогибов и одновременно укрепление всех групп мышц тела. Предотвращает растяжения и травмы, подходит как для любителей балета, так и для всех желающих. Не требует специальной подготовки.',
            price: '20',
            img: 'classes4.jpg',
            type: 'Стретчинг',
        },
    ]
include ../mixins/slider-item.pug
section.main-classes
    .container 
        .main-classes__wrapper 
            .section-title.classes-section--title Направления
                span.section-fade.classes__section-fade.wow.animate__animated.animate__fadeInSectionFade(data-wow-delay="1s") Направления
            .main-classes__inner 
                .classes__slider
                    each val, key in slides
                        +slider-item(val)