.classes__slider-item.wow.animate__animated.animate__fadeIn(data-wow-offset="500")
    .classes__slider-inner 
        .classes__item-container 
            .classes__item-front(style=`background-image: url(${root}/images/classes1.jpg);`)
            .classes__item-back
                .classes__item-description
                    span.classes__item-hightlight Занятие, построенное на базе методики А.Вагановой
                    | и соответствующее программе балетного училища, но адаптированное под взрослых учеников. Включает в себя упражнения у станка, на середине, адажио и прыжки.
                .classes__item-pricing
                    span.classes__item-price 53
                    | руб./месяц
                a.classes__content-btn.btn Записаться на урок
        .classes__item-title Балетный класс 